@media (max-width: 800px) {
    .main-inicial {
        background: #02081A;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: -100px;
    }

    .container-1 {
        max-width: none;
        width: 100%;
    }

    .main-parte-2 {
        background-image: url("./assets/Versao-Mobile_02.webp");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo-missao-zero {
        height: 90px;
        margin: 65px 0 60px -20px;
    }

    .primeiro-texto-main-inicial,
    .primeiro-texto-main-inicial span {
        font-size: 22px;
    }

    .segundo-texto-main-inicial {
        font-size: 16px;
    }

    .div-segundo-texto {
        margin-bottom: 20px;
        border-left: 5px solid #cfff00;
    }

    .terceiro-texto-main-inicial {
        margin-right: 16px;
        color: #CFFF00;
        font-family: 'Sora-Medium';
        margin-top: -8px;
    }

    .quadrado {
        height: 15px !important;
        width: 15px !important;
    }

    .card-1-parte-2 {
        margin: 0 auto;
        max-height: none;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-content: center;
        background: #fff;
        border-radius: 7px;
        margin-bottom: 20px;
        padding: 20px 20px;
        -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    }

    .card-1-parte-2 div:nth-child(2) {
        border-right: none;
        border-left: none;
        padding: 30px 0;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
    }

    #_form_63B4A85EEE1E9_ {
        margin: 0 auto !important;
        padding: 0 !important;
    }

    button#_form_31_submit._submit {
        font-size: 18px !important;
        height: 45px !important;
    }

    .div-terceiro-texto {
        flex-direction: column;
    }

    .div-terceiro-texto div {
        margin-bottom: 10px;
    }

    .card-1-parte-2 div {
        display: flex;
        align-items: center;
        max-width: 250px;
    }

    .card-1-parte-2 div img {
        margin-right: 30px;
    }

    .card-2-parte-2 {
        width: 80%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        gap: 40px;
    }

    .card-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .mobile-1 {
        background-image: url('./assets/responsividade/Primeira-Imagem-1.webp');
        display: block;
        background-position: center;
        background-size: cover;
        width: 345px;
        height: 130px;
        position: relative;
        z-index: 2;
        margin-bottom: -62.5px;
        border-radius: 8px;
    }

    .mobile-2 {
        background-image: url('./assets/responsividade/Primeira-Imagem-1.webp');
        display: block;
        background-position: center;
        background-size: cover;
        width: 345px;
        height: 125px;
        position: relative;
        z-index: 2;
        margin-bottom: -62.5px;
        border-radius: 8px;

    }

    .mobile-3 {
        background-image: url('./assets/responsividade/Primeira-Imagem-2.webp');
        display: block;
        background-position: center;
        background-size: cover;
        width: 345px;
        height: 125px;
        position: relative;
        z-index: 2;
        margin-bottom: -62.5px;
        border-radius: 8px;

    }

    .desktop {
        display: none;
    }

    .cards-parte-3 .card-1:nth-child(2) {
        flex-direction: column;
    }

    .conteudo-interno,
    .conteudo-interno-2 {
        padding-top: 85px;
        border: none;
        border-radius: 8px;
        border-bottom: 3px solid #9BBB17;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-target {
        display: none;
    }

    .div-target-mobile {
        display: block;
        height: 2px;
        width: 250px;
        background-color: #000;
        margin-bottom: 25px;
    }

    .main-parte-3 {
        padding-left: 20px;
        padding-right: 20px;
    }


    .main-parte-4 {
        background-image: url("./assets/Versao-Mobile_05.webp");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px !important;
        display: block;
    }

    .container-4 {
        margin: none !important;
        padding: none !important;
        padding-top: 650px;
        text-align: initial;
    }

    .main-parte-5 {
        padding: 20px;
    }

    footer {
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        background-color: #02081A;
    }

    footer p:first-child {
        max-width: none;
    }

    footer p:last-child {
        font-family: 'Sora-Bold';
        font-size: 12px;
        margin-bottom: 10px;
    }

    .parte-4-espacamento {
        width: 70%;
        display: block;
    }
}

@media (max-width: 800px) {
    .container-4 {
        padding-top: 680px;
    }
}

@media (max-width: 750px) {
    .container-4 {
        padding-top: 650px;
    }
}

@media (max-width: 700px) {
    .container-4 {
        padding-top: 600px;
    }
}

@media (max-width: 650px) {
    .container-4 {
        padding-top: 560px;
    }
}

@media (max-width: 600px) {
    .container-4 {
        padding-top: 520px;
    }
}

@media (max-width: 550px) {
    .container-4 {
        padding-top: 480px;
    }
}

@media (max-width: 500px) {
    .container-4 {
        padding-top: 430px;
    }
}