@font-face {
    font-family: 'Sora';
    src: url("./assets/fonts/Sora/Sora-Thin.ttf") format('truetype');
}

@font-face {
    font-family: 'Sora-bold';
    src: url("./assets/fonts/Sora/Sora-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Sora-Medium';
    src: url('./assets/fonts/Sora/Sora-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #000;
}

.main-inicial {
    background: linear-gradient(90deg, rgb(8, 13, 18) 0%, rgba(3, 13, 31, 1) 46%);
    background: url("./assets/FundosDesktop_01.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 140px;
}

.container-1 {
    max-width: 480px;
    margin-top: -40px;
}

.container-2 {
    width: 100%;
}

.logo-missao-zero {
    margin: 60px 0 60px -15px;
    height: 80px;
    max-width: 1000px !important;
}

.primeiro-texto-main-inicial,
.primeiro-texto-main-inicial span {
    font-size: 32px;
    font-family: 'Sora-Bold';
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: -50px;
}

.primeiro-texto-main-inicial span {
    color: #cfff00;
}

.div-segundo-texto {
    border-left: 10px solid #cfff00;
    margin-bottom: 40px;
}

.segundo-texto-main-inicial {
    color: #F0F0F0;
    font-size: 18px;
    margin-left: 16px;
}

.div-terceiro-texto {
    display: flex;
    padding-bottom: 20px;
}

.terceiro-texto-main-inicial {
    margin-right: 16px;
    color: #CFFF00;
    font-family: 'Sora-bold';
}

.quadrado {
    height: 20px !important;
    width: 20px !important;
    margin-right: 10px;
    background: #CFFF00;
}

._submit {
    transition: 1s;
}

._submit:hover {
    transform: scale(1.1);
}

._field11,
._field12,
._field13,
._field14,
._field10 {
    display: none;
}

#_form_31_ ._form-branding,
#_form_31_ ._form_element {
    font-size: 12px !important;
}

._marketing-by {
    display: none;
}

.main-parte-2 {
    background: linear-gradient(90deg, rgb(8, 13, 18) 0%, rgba(3, 13, 31, 1) 46%);
    background: url("./assets/FundosDesktop_03.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-1-parte-2 {
    max-height: 120px;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 40px 20px;
    -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
}

.card-1-parte-2 div {
    display: flex;
    align-items: center;
}

.card-1-parte-2 div:nth-child(2) {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    padding: 0 70px;
}

.card-1-parte-2 div img {
    max-width: 35px;
    width: 100%;
    margin-right: 15px;
}

.card-1-parte-2 div p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-family: 'Sora-Bold';
}

.container-1-parte-2 h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 60px 0px;
    font-family: 'Sora-Bold';

}

h2 span {
    color: #CFFF00;
    font-family: 'Sora-Bold';
    font-weight: 600;
}

.numbers {
    position: relative;
    z-index: 4;
    text-align: center;
    height: 40px;
    width: 40px;
    color: #fff;
    margin-bottom: -20px;
    margin-left: 20px;
}

.card-2-parte-2 {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    gap: 20px;
}

.numbers {
    background-color: #9BBB17;
    border-radius: 4px;
    font-family: 'Sora-Bold';
    font-size: 30px;
}

.div-parte-2 {
    background-color: #fff;
    padding: 40px 30px 10px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border-bottom: 3px solid #CFFF00;
}

.card-2-text-parte-2 {
    color: #000;
    text-align: center;
}

.card-2-text-parte-2 b {
    color: #000;
    font-family: 'Sora-Bold';
}

.main-parte-3 {
    background: url("./assets/FundosDesktop_04.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.parte-4-titulo {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2em;
    font-family: 'Sora-Bold';
}

.cards-parte-3 {
    max-width: 800px;
    margin: 25px auto 30px auto;

}

.card-1 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.mobile-1,
.mobile-2,
.mobile-3 {
    display: none;
}

.cards-parte-3 .card-1:nth-child(2) {
    flex-direction: row-reverse;
}

.card-1 img {
    max-width: 270px;
    max-height: 270px;
}

.conteudo-interno,
.conteudo-interno-2 {
    background-color: #FFFF;
    padding: 25px;
}

.conteudo-interno {
    border-radius: 0 8px 8px 0;
    border-right: 3px solid #9BBB17;
}

.conteudo-interno-2 {
    border-radius: 8px 0 0 8px;
    border-left: 3px solid #9BBB17;
}

.div-target-mobile {
    display: none;
}

.div-target {
    height: 2px;
    width: 125px;
    background-color: #000;
    margin-bottom: 25px;
}

.conteudo-interno p,
.conteudo-interno-2 p {
    color: #000;
}

.conteudo-interno p b,
.conteudo-interno-2 p b {
    color: #000;
    font-family: 'Sora-Bold';
}

.conteudo-interno-p-1 {
    font-size: 22px;
    font-family: 'Sora-Medium';
    margin-bottom: 15px;
}

.texto-e-botao {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto-e-botao p {
    font-size: 16px;
    margin-bottom: 20px;
}

.texto-e-botao button,.texto-e-botao a {
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Sora-Bold';
    cursor: pointer;
    background: transparent linear-gradient(79deg, #94B11B 0%, #C0EB03 100%) 0% 0% no-repeat padding-box;
    animation-name: tamanho;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    color: #000;
}

.texto-e-botao button:hover, .texto-e-botao a:hover {
    content: '';
    background: linear-gradient(100deg, #a0c304, #a9ce06, #aacf03, #b7e002, #C0EB03, #d0f724, #d9fe35, #a0c304);
    transition: opacity .3s ease-in-out;
    animation: glowing 20s linear infinite;
    background-size: 400%;

}

.texto-e-botao button:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes tamanho {
    0% {
        -webkit-transform: scale(1);
    }

    25% {
        -webkit-transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);

    }

}

.main-parte-4 {
    background: url("./assets/FundosDesktop_05.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    display: flex;
}

.parte-4-espacamento {
    width: 80%;
    display: block;
}

.titulo-parte-4 {
    font-size: 32px;
    color: #9BBB17;
    font-family: 'Sora-Bold';
    margin-bottom: 30px;
}

.texto-normal-4 {
    color: #000;
}

.texto-normal-4 b {
    color: #000;
    font-family: 'Sora-Bold';
}

.main-parte-5 {
    background: url("./assets/FundosDesktop_06.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.container-5 {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    background-color: #02081A;
}

footer p:first-child {
    max-width: 70%;
}

footer p:last-child {
    font-family: 'Sora-Bold';
    font-size: 12px;
}

#_form_39_ ._submit {
    background: #fb8000 !important;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    color: black !important;
    cursor: pointer;
    margin-bottom: 40px;
}

#_form_39_ ._submit b{ 
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Sora-Bold';
}

/* 

#_form_33_ input[type="text"]._has_error,
#_form_33_ textarea._has_error {
    border: #f37c7b 1px solid;
}

#_form_33_ input[type="checkbox"]._has_error {
    outline: #f37c7b 1px solid;
}

#_form_33_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001;
}

#_form_33_ ._error._above {
    padding-bottom: 4px;
    bottom: 149px;
    right: 20px;
}

#_form_33_ ._error._below {
    padding-top: 4px;
    top: 100%;
    right: 0;
}

#_form_33_ ._error._above ._error-arrow {
    bottom: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f37c7b;
}

#_form_33_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f37c7b;
}

#_form_33_ ._error-inner {
    padding: 8px 12px;
    background-color: #f37c7b;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#_form_33_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left;
}

#_form_33_ ._button-wrapper ._error-inner._form_error {
    position: static;
}

#_form_33_ ._error-inner._no_arrow {
    margin-bottom: 10px;
}

#_form_33_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

#_form_33_ ._error-html {
    margin-bottom: 10px;
}

#_form_33_ {
    position: relative;
}

#_form_33_ .phone-error-hidden {
    display: none;
}

#_form_33_ .phone-error {
    color: #e40e49;
}

#_form_33_ .phone-input-error {
    border: 1px solid #e40e49 !important;
} */



input {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
    border: none;
    font-family: 'Sora-Bold';
    margin-top: 20px;
}
 #_form_39_ { font-size:14px; line-height:1.6; font-family:arial, helvetica, sans-serif; margin:0; }
 #_form_39_ * { outline:0; }
 ._form_hide { display:none; visibility:hidden; }
 ._form_show { display:block; visibility:visible; }
 #_form_39_._form-top { top:0; }
 #_form_39_._form-bottom { bottom:0; }
 #_form_39_._form-left { left:0; }
 #_form_39_._form-right { right:0; }
 #_form_39_ input[type="text"],#_form_39_ input[type="tel"],#_form_39_ input[type="date"],#_form_39_ textarea { padding:6px; height:auto; border:#979797 1px solid; border-radius:4px; color:#000 !important; font-size:14px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
 #_form_39_ textarea { resize:none; }
 #_form_39_ ._submit { -webkit-appearance:none; cursor:pointer; font-family:arial, sans-serif; font-size:14px; text-align:center; background:#cfff00 !important; border:1px solid #333 !important; -moz-border-radius:5px !important; -webkit-border-radius:5px !important; border-radius:5px !important; color:#030303 !important; padding:10px !important; }
 #_form_39_ ._close-icon { cursor:pointer; background-image:url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png'); background-repeat:no-repeat; background-size:14.2px 14.2px; position:absolute; display:block; top:11px; right:9px; overflow:hidden; width:16.2px; height:16.2px; }
 #_form_39_ ._close-icon:before { position:relative; }
 #_form_39_ ._form-body { margin-bottom:30px; }
 #_form_39_ ._form-image-left { width:150px; float:left; }
 #_form_39_ ._form-content-right { margin-left:164px; }
 #_form_39_ ._form-branding { color:#fff; font-size:10px; clear:both; text-align:left; margin-top:30px; font-weight:100; }
 #_form_39_ ._form-branding ._logo { display:block; width:130px; height:14px; margin-top:6px; background-image:url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png'); background-size:130px auto; background-repeat:no-repeat; }
 #_form_39_ .form-sr-only { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0, 0, 0, 0); border:0; }
 #_form_39_ ._form-label,#_form_39_ ._form_element ._form-label { font-weight:bold; margin-bottom:5px; display:block; }
 #_form_39_._dark ._form-branding { color:#333; }
 #_form_39_._dark ._form-branding ._logo { background-image:url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png'); }
 #_form_39_ ._form_element { position:relative; margin-bottom:10px; font-size:0; max-width:100%; }
 #_form_39_ ._form_element * { font-size:14px; }
 #_form_39_ ._form_element._clear { clear:both; width:100%; float:none; }
 #_form_39_ ._form_element._clear:after { clear:left; }
 #_form_39_ ._form_element input[type="text"],#_form_39_ ._form_element input[type="date"],#_form_39_ ._form_element select,#_form_39_ ._form_element textarea:not(.g-recaptcha-response) { display:block; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-family:inherit; }
 #_form_39_ ._field-wrapper { position:relative; }
 #_form_39_ ._inline-style { float:left; }
 #_form_39_ ._inline-style input[type="text"] { width:150px; }
 #_form_39_ ._inline-style:not(._clear) + ._inline-style:not(._clear) { margin-left:20px; }
 #_form_39_ ._form_element img._form-image { max-width:100%; }
 #_form_39_ ._form_element ._form-fieldset { border:0; padding:0.01em 0 0 0; margin:0; min-width:0; }
 #_form_39_ ._clear-element { clear:left; }
 #_form_39_ ._full_width { width:100%; }
 #_form_39_ ._form_full_field { display:block; width:100%; margin-bottom:10px; }
 #_form_39_ input[type="text"]._has_error,#_form_39_ textarea._has_error { border:#f37c7b 1px solid; }
 #_form_39_ input[type="checkbox"]._has_error { outline:#f37c7b 1px solid; }
 #_form_39_ ._error { display:block; position:absolute; font-size:14px; z-index:10000001; }
 #_form_39_ ._error._above { padding-bottom:4px; bottom:39px; right:0; }
 #_form_39_ ._error._below { padding-top:4px; top:100%; right:0; }
 #_form_39_ ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
 #_form_39_ ._error._below ._error-arrow { top:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
 #_form_39_ ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:14px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
 #_form_39_ ._error-inner._form_error { margin-bottom:5px; text-align:left; }
 #_form_39_ ._button-wrapper ._error-inner._form_error { position:static; }
 #_form_39_ ._error-inner._no_arrow { margin-bottom:10px; }
 #_form_39_ ._error-arrow { position:absolute; width:0; height:0; }
 #_form_39_ ._error-html { margin-bottom:10px; }
 .pika-single { z-index:10000001 !important; }
 #_form_39_ input[type="text"].datetime_date { width:69%; display:inline; }
 #_form_39_ select.datetime_time { width:29%; display:inline; height:32px; }
 #_form_39_ input[type="date"].datetime_date { width:69%; display:inline-flex; }
 #_form_39_ input[type="time"].datetime_time { width:29%; display:inline-flex; }
 @media all and (min-width:320px) and (max-width:667px) { ::-webkit-scrollbar { display:none; }
 #_form_39_ { margin:0; width:100%; min-width:100%; max-width:100%; box-sizing:border-box; }
 #_form_39_ * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-size:1em; }
 #_form_39_ ._form-content { margin:0; width:100%; }
 #_form_39_ ._form-inner { display:block; min-width:100%; }
 #_form_39_ ._form-title,#_form_39_ ._inline-style { margin-top:0; margin-right:0; margin-left:0; }
 #_form_39_ ._form-title { font-size:1.2em; }
 #_form_39_ ._form_element { margin:0 0 20px; padding:0; width:100%; }
 #_form_39_ ._form-element,#_form_39_ ._inline-style,#_form_39_ input[type="text"],#_form_39_ label,#_form_39_ p,#_form_39_ textarea:not(.g-recaptcha-response) { float:none; display:block; width:100%; }
 #_form_39_ ._row._checkbox-radio label { display:inline; }
 #_form_39_ ._row,#_form_39_ p,#_form_39_ label { margin-bottom:0.7em; width:100%; }
 #_form_39_ ._row input[type="checkbox"],#_form_39_ ._row input[type="radio"] { margin:0 !important; vertical-align:middle !important; }
 #_form_39_ ._row input[type="checkbox"] + span label { display:inline; }
 #_form_39_ ._row span label { margin:0 !important; width:initial !important; vertical-align:middle !important; }
 #_form_39_ ._form-image { max-width:100%; height:auto !important; }
 #_form_39_ input[type="text"] { padding-left:10px; padding-right:10px; font-size:16px; line-height:1.3em; -webkit-appearance:none; }
 #_form_39_ input[type="radio"],#_form_39_ input[type="checkbox"] { display:inline-block; width:1.3em; height:1.3em; font-size:1em; margin:0 0.3em 0 0; vertical-align:baseline; }
 #_form_39_ button[type="submit"] { padding:20px; font-size:1.5em; }
 #_form_39_ ._inline-style { margin:20px 0 0 !important; }
 }
 #_form_39_ { position:relative; text-align:left; margin:25px auto 0; padding:20px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; *zoom:1; background:transparent !important; border:0px solid #b0b0b0 !important; max-width:500px; -moz-border-radius:0px !important; -webkit-border-radius:0px !important; border-radius:0px !important; color:#fff !important; }
 #_form_39_._inline-form,#_form_39_._inline-form ._form-content,#_form_39_._inline-form input,#_form_39_._inline-form ._submit { font-family:"Montserrat", sans-serif; }
 #_form_39_ ._form-title { font-size:22px; line-height:22px; font-weight:600; margin-bottom:0; }
 #_form_39_:before,#_form_39_:after { content:" "; display:table; }
 #_form_39_:after { clear:both; }
 #_form_39_._inline-style { width:auto; display:inline-block; }
 #_form_39_._inline-style input[type="text"],#_form_39_._inline-style input[type="date"] { padding:10px 12px; }
 #_form_39_._inline-style button._inline-style { position:relative; top:27px; }
 #_form_39_._inline-style p { margin:0; }
 #_form_39_._inline-style ._button-wrapper { position:relative; margin:27px 12.5px 0 20px; }
 #_form_39_ ._form-thank-you { position:relative; left:0; right:0; text-align:center; font-size:18px; }
 @media all and (min-width:320px) and (max-width:667px) { #_form_39_._inline-form._inline-style ._inline-style._button-wrapper { margin-top:20px !important; margin-left:0 !important; }
 }
 #_form_39_ .iti.iti--allow-dropdown.iti--separate-dial-code { width:100%; }
 #_form_39_ .iti input { width:100%; height:32px; border:#979797 1px solid; border-radius:4px; }
 #_form_39_ .iti--separate-dial-code .iti__selected-flag { background-color:#fff; border-radius:4px; }
 #_form_39_ .iti--separate-dial-code .iti__selected-flag:hover { background-color:rgba(0, 0, 0, 0.05); }
 #_form_39_ .iti__country-list { border-radius:4px; margin-top:4px; min-width:460px; }
 #_form_39_ .iti__country-list--dropup { margin-bottom:4px; }
 #_form_39_ .phone-error-hidden { display:none; }
 #_form_39_ .phone-error { color:#e40e49; }
 #_form_39_ .phone-input-error { border:1px solid #e40e49 !important; }

 #_form_39_ ._x99240764 input { background:#aaa A; border-color:#aaa; border-width:0px 0px 0px 0px; border-radius:5px 5px 5px 5px; height:45px; }
 #_form_39_ ._submit { height:45px; width:100%; }
 #_form_39_ ._form_31 { margin:0; padding:0; }